* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
}

/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

/* Button */

.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  border-radius: 2px;
  color: #fff;
  background-color: #3040C4;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.05em;
  transition: opacity 350ms ease-in-out;
}

.fill-button.inverted {
  background-color: #fff;
  color: #3040C4;
}

.fill-button:hover {
  opacity: .7;
}

.section {
  padding: 80px 0;
}

.section-category {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.section-title {
  margin-bottom: 24px;
  font-size: 34px;
  line-height: 1.0588235294;
  letter-spacing: -0.03em;
  color: #2B292D;
}

/* Landing */

.landing {
  background-color: #FDDED8;
  text-align: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.landing-title {
  margin-bottom: 24px;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #2b292d;
}

.landing-desc {
  margin-bottom: 20px;
}

.landing .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .button-group .fill-button:first-child {
  margin-right: 8px;
}

/* Service */

.service {
  padding: 80px 0;
  background-color: #F4F5F7;
}

.service .col-12:first-child {
  margin-bottom: 40px;
}

.service-title {
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 1.3636363636;
  letter-spacing: -0.04em;
  color: #2b292d;
}

/* Programs */
.program .row:first-child{
  margin-bottom: 32px;
}

.program .col-md-4 {
  margin-bottom: 20px;
}

.program .col-md-4:last-child {
  margin-bottom: 0;
}

.program .section-category{
  color: #009B4D;
}

.program-card {
  display: block;
  padding: 24px 0 32px;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  transition: background-color 300ms ease-in-out, 
              box-shadow 300ms ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
              0 1px 3px rgba(0, 0, 0, 0.1),
              inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.program-card:hover {
  background-color: #3141c5;
  box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
              0px 11px 55px rgba(0, 0, 0, 0.07);
}

.program-card:hover strong {
  color: #fff;
}

.program-card img {
  display: block;
  width: auto;
  height: 195px;
  margin: 0 auto 16px;
}

.program-card strong {
  font-size: 18px;
  line-height: 1.333333333;
  letter-spacing: -0.02em;
  color: #2B292D;
  transition: color 500ms ease-in-out;
}

/* curriculum */

.curriculum .row:first-child {
  margin-bottom: 48px;
}

.curriculum .row:last-child .col-12:first-child {
  margin-bottom: 40px;
}

.curriculum .section-category {
  color: #0189D1;
}

.section-desc {
  margin-bottom: 32px;
}

.curriculum-image {
  display: none;
}

.curriculum-detail-desc {
  font-size: 15px;
  line-height: 1.4666666667;
  letter-spacing: -0.01em;
  color: #2b292d;
}

/* >=768px (Desktop) */
@media screen and (min-width: 768px) {
  
  /* reset CSS */
  p {
    font-size: 22px;
    line-height: 1.363636363636;
  }
  
  .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.555555555556;
  }

  .section {
    padding-bottom: 96px;
  }

  .section-category {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 1.090909090909;
  }

  .section-title {
    margin-bottom: 32px;
    font-size: 56px;
    line-height: 1;
  }

  /* Landing */
  .landing-content {
    height: auto;
    padding: 120px 0;
  }
  .landing-title {
    font-size: 70px;
    line-height: 1.0285714286;
    margin-bottom: 32px;
  }

  .landing-desc {
    letter-spacing: -0.01em;
    margin-bottom: 32px;
  }

  .landing .button-group .fill-button:first-child {
    margin-right: 16px;
  }

  /* Service */
  .service-title {
    font-size: 26px;
    line-height: 1.3076923077;
    letter-spacing: -0.04em;
  }

  .service .col-12:first-child {
    margin-bottom: 0;
  }

  /* Programs */
  .program {
    text-align: center;
  }

  .program .row:first-child {
    margin-bottom: 72px;
  }

  .program-card img {
    margin-bottom: 24px;
  }

  .program-card strong {
    font-size: 20px;
    line-height: 1.2;
  }

  /* curriculum */
  .curriculum .row:first-child {
    margin-bottom: 24px;
  }

  .curriculum .row:last-child .col-12:first-child {
    margin-bottom: 0;
  }

  .curriculum.section .section-desc {
    margin-bottom: 72px;
  }

  .curriculum-image {
    display: block;
  }

  .curriculum-image img{
    width: 100%;
    max-width: 425px;
    height: auto;
  }

  .curriculum-detail-desc {
    font-size: 18px;
    line-height: 1.4444444444;
    letter-spacing: -0.01em;
  }
}

/* Custom Grid System - Fix container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}

